#load_screen{
    background-color:#2E3F51;
    position: absolute;
    text-align: center;
    top:20em;
    left:45%;
}
#load{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
    }
#mainElement{
    position:absolute;
    top:22em;
    left:12em;
    display: grid;
    /* border:2px solid red; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    
    
}
.contentDiv{
    width : 20em;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    transition:all 1s linear .2s;
    border:10px ;
    /* solid red;  */
    padding:20px;
    margin:20px;
    z-index: 1;
    color:white;
}
.contentDiv > a{
    text-decoration: none;
    color : white;
    /* #757575; */


}


#leftUpperDiv:hover{
        transform: scale(2) translateX(4em) translateY(4em);

}

#rightUpperDiv:hover{
        transform: scale(2) translateX(-4em) translateY(4em);

}

#rightLowerDiv:hover{
        transform: scale(2) translateX(-4em) translateY(-4em);

}
#leftLowerDiv:hover{
        transform: scale(2) translateX(4em) translateY(-4em);

} 
#planet{
    position: relative;
    top:20em;
    left:70em;
    transform-origin: -30em 20em ;
    /* filter:blur(5px); */
    z-index: 0;      
}
#lowDiv{
    position:relative;
    top:30em;
    /* border:10px solid red; */
    display:grid;
}
.content{
    /* border:10px solid blue; */
    text-align: center;
    width: 80%;
    padding:10px;
    margin-left:6em;
}

.content > h1{
    font-size:27px;
    margin-bottom: 1em;
}
.content > p{
    margin-bottom: 1em;
}
.content > img{
    margin-right: 3em;
}


