html,
body,
header,
footer,
hgroup,
nav,
main,
article,
section,
figure,
figcaption,
h1,
h2,
h3,
ul,
ol,
li,
body,
div,
p,
img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
datalist:focus,
video:focus,
audio:focus {
    outline: none;
}